{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2>Please send your payment to the following Bitcoin address:</h2>
    <p><strong>{{ bitcoin_address }}</strong></p>
    <p>Once payment is confirmed, your order will be processed.</p>
{% endblock %}